*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}
.navbar{
    background: #010529;
    color:#fff; 
    width: 100vw;
    height: 15vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
}

 
.navbar span{
    color: #ffb806;
}
a{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
 
ul{
    list-style: none;
    gap:0.5rem;
}
ul a{
    color: #fff;
}
.nav-item{
    border-radius:0.5rem;
    cursor: pointer;
    transition:all ease-in-out 0.3s;
}
.nav-item:hover{
    background: #40403f; 
}
.nav-item.active{
        background:#ffb806;

}
.btns{
    gap:0.5rem; 
} 

.btn:nth-child(1){
    background: #ffb806;
    border:none;
    color:#000;
    font-weight:600;
    text-align: center;
    transition:all ease-in-out 0.3s;
}
.btn:nth-child(1):hover{
    background:none;
    border:2px solid #ffb806;
    color:#fff;
    font-weight:600;
}
.btn:nth-child(2){
    background:none;
    border:2px solid #ffb806;
    color:#fff;
    font-weight:600;
    text-align: center;
    transition:all ease-in-out 0.3s;
}
.btn:nth-child(2):hover{
    background: #ffb806;
    border:none;
    color:#000;
    font-weight:600;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    gap: 0.5rem;
}
.userName{
    font-size:1rem;
    margin: auto;
    color:#0bffde;
    font-weight: 500;
}
.togler{
    color:#fff;
    background: none;
    padding: 0.5rem;
    border:none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    display: none;
}  


@media screen and (max-width: 768px) {
    .navbar { 
        flex-direction: column;
        justify-content: center;
        align-items:center; 
    }  

    .togler {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 1000;
    }


    .collapse {
        display: none;
        flex-direction: column;
        background: #010529;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 8px;  

    }

    .collapse.show {
        display: flex;
    }

    .btns {
        width: 100%;
        flex-direction: column;
        gap: 0.8rem;  
    }

    .btns a {
        width: 100%;
        text-align: left;
    }
}
